.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 400px;
  padding: 30px 25px;
  background: rgba(0, 0, 0, 0.7); /* BLACK with 90% opacity */
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin:10px;
}

.auth-container h2 {
  color: #ffffff;
  margin-bottom: 25px;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background-color: #ff4d4d;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

.auth-container button:hover {
  background-color: #e63e3e;
}

.auth-container button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

.auth-container .link {
  margin-top: 18px;
  color: #bbbbbb;
  font-size: 13px;
  cursor: pointer;
}

.auth-container .link:hover {
  color: white;
}
